<p id="notice"><%= notice %></p>

<%= link_to '发布新想法', new_idea_path %>

<h1>Ideas</h1>

<table>
  <thead>
  <tr>
    <th width="50%">标题</th>
    <th>作者</th>
  </tr>
  </thead>

  <tbody>
  <% @ideas.each do |idea| %>
    <tr>
      <td><%= link_to idea.title, idea %></td>
      <td><%= idea.author.username %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
